{
  "extends": [
    "plugin:vue/essential",
    "standard",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "node": true,
    "sourceType": "module",
    "ecmaVersion": 2021,
    "parser":"@typescript-eslint/parser"
  },
  "rules": {
    "semi": ["error", "always"], // 代码必须以分号结束
    "spaced-comment": ["error", "always"],
    "no-tabs": "off",
    "vue/comment-directive": "off",
    "vue/no-multiple-template-root":  "off",
    "vue/multi-word-component-names": "off",
    "max-params": ["error", 4] // 函数最多四个参数
  },
  "parser": "vue-eslint-parser",
  "plugins": ["@typescript-eslint", "vue", "html"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".jsx", ".tsx", ".json"]
      }
    },
    "import/extensions": [".js", ".ts",".mjs", ".jsx", ".tsx", ".vue"]
  },
  "globals": {
    "APP_ENV": "readonly",
    "MODE": "readonly",
    "VERSION": "readonly",
    "RENDER_ENV":  "readonly",
    "NodeJS": "readonly",
    "Electron": "readonly"
  }
}
