{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "trailingComma": "none"
}
